@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&family=Golos+Text:wght@500&family=IBM+Plex+Sans:wght@300;400&family=Jockey+One&family=Lato:ital@0;1&family=Martian+Mono:wght@300&family=Poppins:ital@1&family=Roboto+Slab:wght@200;300&family=Roboto:ital,wght@0,300;1,300&family=Space+Grotesk&display=swap');
 * {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
}
.container {
    position: relative;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: #FAFAFA;
    width: 100vw;
}
.first {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 13px;
    left: 20px;
}
.first p {
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    margin: 0 15px 0 80px;
}
.second a {
    text-decoration: none;
    color: #000000;
    padding: 6px 10px;
}

.second {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    width: 80vw;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* align-items: end; */
    width: 70%;
}
.second input {
    width: 300px;
    height: 30px;
    text-indent: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #808080;
    font-size: 15px;
}
.second button {
    padding: 5px 13px;
    color: blue;
    background-color: #FFFFFF;
    border: 1px solid blue;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.box {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.place {
    font-size: 50px;
    width: 600;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.grid {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: auto;
    justify-content: space-around;
}
.card {
    border: 1px solid blue;
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.temp {
    width: 100%;
    height: 60px;
    background-color: #0D6EFD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.temp p {
    color: #FFFFFF;
    font-size: 25px;
}
.bin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.bin img {
    margin: 5px;
}
.place-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    margin: 0 auto 30px auto;
}

.p {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.p p {
    font-size: 30px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.place-box {
    width: 20%;
    border: 1px solid #000000;
    border-radius: 5px;
}
.head {
    width: 100%;
    height: 60px;
    background-color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;   
}
.head p{
    font-size: 20px;
    color: #FFFFFF;
}
.bin-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.menu {
    position: absolute;
    float: right;
    right: 20px;
    top: 13px;
    font-size: 25px;
    padding: 7px;
    border: 1px solid #808080;
    border-radius: 5px;
    cursor: pointer;
    visibility: hidden;
}
.menu:active {
    box-shadow: 0px 1px 4px 4px #808080;
}


@media screen and (max-width: 962px) {
    .header {
        flex-direction: column;
        height: 100%;
    }
    .first {
        margin:auto;
        height: 70px;
    }
    .first p {
        margin: auto;
    }
    form {
        width: 100%;
        justify-content: left;
    }
    .second {
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        background-color: #FAFAFA;
    }
    .second input {
        width: 85%;
        margin-right: 20px;
    }
    .menu {
        visibility: visible;
    }
    .main-container {
        position: absolute;
        top: 70px;
        background-color: #FFFFFF;
    }
    .respon {
        position: absolute;
        top: 220px;
        background-color: #FFFFFF;
    }
}

@media screen and (max-width: 576px) {
    .header {
        width: 100vw;
    }
    .grid {
        flex-direction: column;
        width: 80vw;
    }
    .card {
        width: 100%;
        margin: 15px 0;
    }
    .place {
        font-size: 30px;
    }
    .p p {
        font-size: 20px;
    }
    .place-box {
        width: 55%;
        margin: 15px;
    }
    .bin-1 p{
        font-size: 10px;
    }
    .second input {
        width: 80%;
    }
    .menu {
        visibility: visible;
    }
    form {
        width: 100%;
        justify-content: left;
    }
    .head p {
        font-size: 15px;
    }
    
}